<ion-view view-title="Profile">
  <ion-content>
    <p class="section-info" style="padding-bottom: 0;">Change your password:</p>

    <div class="alert-positive" ng-if="vm.message">{{vm.message}}</div>

    <form ng-submit="vm.passwordChange()" novalidate>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="vm.profileData.password">
        </label>

        <div class="form-error-message" ng-if="vm.validationResults.password.required">
          This field is required!
        </div>

        <label class="item item-input">
          <input type="password" placeholder="Confirm password" ng-model="vm.profileData.confirm">
        </label>

        <div class="form-error-message" ng-if="vm.validationResults.confirm.required">
          This field is required!
        </div>

        <input type="submit" value="Change" class="button button-block button-positive">
      </div>
    </form>

    <hr>

    <div class="row">
      <div class="col">
        <button type="button" class="button button-block button-calm" style="margin-top: 0;" ng-click="vm.manageCategories()">Manage categories</button>
      </div>
    </div>

  </ion-content>
</ion-view>
