<ion-view view-title="{{vm.pageTitle}}">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="vm.backToDashboard()">
      Back
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div class="alert" ng-if="vm.errorMessage">{{vm.errorMessage}}</div>

    <form ng-submit="vm.sendExpense()" novalidate>
      <div class="list list-inset">
        <div class="item" ng-click="vm.showCategoriesPopup()">
          <p>{{vm.categoryName}}</p>
          <p ng-if="!vm.categoryName">Choose category</p>
        </div>

        <div class="form-error-message" ng-if="vm.validationResults.categoryId.required">
          This field is required!
        </div>

        <label class="item item-input">
          <input type="text" placeholder="Vendor" ng-model="vm.expenseData.vendor">
        </label>

        <label class="item item-input">
          <input type="number" placeholder="Amount" ng-model="vm.expenseData.amount">
        </label>

        <div class="form-error-message" ng-if="vm.validationResults.amount.required">
          This field is required!
        </div>

        <label class="item item-input">
          <input type="date" placeholder="Date" ng-model="vm.expenseData.expenseDate">
        </label>

        <div class="form-error-message" ng-if="vm.validationResults.expenseDate.required">
          This field is required!
        </div>

        <label class="item item-input">
          <input type="text" placeholder="Description" ng-model="vm.expenseData.description">
        </label>

        <input type="submit" value="Add expense" ng-if="!vm.editMode" class="button button-block button-positive">
        <input type="submit" value="Edit expense" ng-if="vm.editMode" class="button button-block button-positive">
      </div>
    </form>
  </ion-content>
</ion-view>
