<ion-view view-title="Month Details">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="vm.backToDashboard()">
      Back
    </button>
  </ion-nav-buttons>

  <ion-content>
    <p class="section-info">Filters:</p>

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Month
        </div>
        <select ng-model="vm.selectedMonth" ng-options="month for month in vm.monthsList" ng-change="vm.filterExp()">
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Year
        </div>
        <select ng-model="vm.selectedYear" ng-options="year for year in vm.yearsList" ng-change="vm.filterExp()">
        </select>
      </label>
    </div>

    <p class="section-info">Categories total: <span style="float: right; color: red;">{{vm.totalAmountOfMouth}} PLN</span></p>
    <ion-list>
      <ion-item ng-repeat="item in vm.categoriesInMonth" ui-sref="month-category-info({index: $index})" class="item-avatar month-item" style="display: flex; align-items: center; width: 100%;">
        <img src="/img/cat-icon.png">

        <div class="row" style="padding: 0">
          <div class="col" style="padding: 0">
            <p>{{item.name}}</p>
          </div>
          <div class="col col-33" style="padding: 0; display: flex; align-items: center; justify-content: flex-end">
            <p class="expense-amount" style="color: red; font-size: 16px;">
              {{item.amount}} PLN
            </p>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
